:root {
  --red: #ff2d55;
  --red-bright: #ff3d61;
  --white: #ffffff;
  --white-dark: #f3f2f5;
  --black: #000000;
  --orange: #EE834A;

  --page-bg: var(--white-dark);
  --page-fg: var(--black);

  --box-bg: var(--white);
  --box-fg: var(--black);

  --button-bg: var(--red);
  --button-bg-hover: var(--red-bright);
  --button-fg: var(--white);

  --link-fg: #EE834A;

  /* --secondary: #f3f2f5;
  --secondary-hover: #ecebed;
  --secondary-on-modal: #f3f2f5;
  --secondary-on-modal-hover: #ecebed;
  --card-on-modal: #fff;
  --text: #16141a;
  --secondary-text: #676370;
  --text-on-secondary: #16141a;
   */
  --border-radius: 4px;
}

html {
  background-color: var(--page-bg);
  
  font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: var(--page-fg);
}

body {
  margin: auto;
  max-width: 720px;
  padding-bottom: 120px;
}

header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 24px 0;
}

header img {
  height: 100%;
}

header h1 {
  margin: 0;
  font-weight: normal;
}

#app {
  margin-bottom: 48px;
}

table {
  width: 100%;
}

h1 {
  margin-bottom: 0.7em;
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 0.3em;
}

a {
  color: var(--link-fg);
  text-decoration: underline;
}

table {
  border-spacing: 1em 0.5em;
}

th {
  text-align: left;
}

code {
  display: inline-block;
  padding: 1px 4px;
  background-color: var(--white-dark);
  border-radius: var(--border-radius);
}

.box {
  padding: 16px 20px;
  margin-bottom: 12px;
  
  color: var(--box-fg);
  background-color: var(--box-bg);
  
  border-radius: var(--border-radius);
}

.box .buttons {
  display: flex;
  justify-content: right;
  gap: 8px;
  margin-top: 8px;
}

button {
  min-width: 8em;
  padding: 10px;
  
  font-size: 0.8em;
  color: var(--button-fg);
  text-transform: uppercase;
  
  background-color: var(--button-bg);
  border: 0;
  border-radius: var(--border-radius);
  letter-spacing: 0.5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-bg-hover);
}

.box label {
  box-sizing: border-box;
  padding: 2px 12px;
  display: flex;
  align-items: center;

  border-radius: var(--border-radius) 0 0 var(--border-radius);
  background-color: var(--white-dark);
  font-size: 0.85em;
}

.box label + input {
  margin-left: -8px;
  padding: 2px 8px;
  border: 1px solid var(--white-dark);
  border-left: 0;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.box input[type=number] {
  width: 3em;
  text-align: center;
}

.box input.wide {
  width: 100%;
}

.box.step {
  display: none;
  opacity: 0;
  transition: opacity ease-out 0.25s;
}

.chat-log {
  height: 12em;
  padding: 8px 4px;
  overflow-y: scroll;
  border: 1px solid var(--white-dark);
  border-radius: var(--border-radius);
}
